<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap 101 Template</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body style="padding-top:70px;">
    <div class="container">   <!-- 全体を囲むコンテナ --!>
      <nav class="navbar navbar-default navbar-fixed-top">   <!-- ナビゲーションバー --!>
       <div class="container">
         <div class="navbar-header">
           <button class="navbar-toggle" data-toggle="collapse" data-target="#mainNav">
             <span class="sr-only">ナビゲーション</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
           <a href="/" class="navbar-brand">CD管理データベース</a>
         </div>
         <div class="collapse navbar-collapse" id="mainNav">
         <ul class="nav navbar-nav">
           <li>
           <a href="/"><span class="glyphicon glyphicon-home"></span>HOME</a>
           </li>
           <li class="active"><a href="/list"><span class="glyphicon glyphicon-th-list"></span>表示</a></li>
           <li><a href="/entry"><span class="glyphicon glyphicon-plus"></span>登録</a></li>
           <li><a href="/retrieve"><span class="glyphicon glyphicon-search"></span>検索</a></li>
           <li><a href="/url"><span class="glyphicon glyphicon-heart"></span>まとめサイト</a></li>
         </ul>
       </div>
       </nav>    <!-- ナビゲーションバー --!>
       <div class="jambotron"
         style="color:#FFF; background:url(photo/header-back.jpg); background-size:cover;">   <!-- ヘッダー --!>
         <h1>CDデータ管理システム</h1>
         <p>CD情報の管理や音楽情報を収集するためのサイトです。</p>
       </div>   <!-- ヘッダー --!>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script> 
<title>CDデータの修正</title>
<h2>CDデータの修正</h2>
<p>
<a href="/" >メニュー画面に戻る</a>|
<a href="/list" >CDデータの表示画面</a>
</p>

<hr>
<h3>以下の内容を修正します</h3>
<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr><th>CD名</th><th>アーティスト名</th><th>説明</th><th>評価</th></tr>
  </thead>
  <tbody>
  <% @edits.each do |edit| %>
    <% @id=edit.id %>
    <tr><td><%=edit.title %></td><td><%=edit.artist%></td><td><%=edit.description%></td><td><%=edit.score%></td></tr>
  <% end %>
  </tbody>
</table>
</div>

<hr>

<h3>修正内容を入力してください</h3>
<form class="form-horizontal" method="post" action="edit2">
      <div class="form group">
        <label class="col-sm-3 control-label" for "title">CD名</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="title" id="title">
        </div>
      </div>
      <div class="form group">
        <label class="col-sm-3 control-label" for "artist">アーティスト名</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="artist" id="artist">
        </div>
      </div>

      <div class="form group">
        <label class="col-sm-3 control-label" for "description">説明</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="description" id="description">
        </div>
      </div>

      <div class="form group">
        <label class="col-sm-3 control-label" for "score">評価</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="score" id="score">
        </div>
      </div>
      <div class="form group">
        <div class="col-sm-offset-3 col-sm-9 text-right">
    <input type="hidden" name="id" value="<%=@id%>">
    <input type="submit" value="修正を実行">
        </div>
      </div>
    </form>
</div>
</body>
</html>

