<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap 101 Template</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body style="padding-top:70px;">
    <div class="container">   <!-- 全体を囲むコンテナ --!>
      <nav class="navbar navbar-default navbar-fixed-top">   <!-- ナビゲーションバー --!>
       <div class="container">
         <div class="navbar-header">
           <button class="navbar-toggle" data-toggle="collapse" data-target="#mainNav">
             <span class="sr-only">ナビゲーション</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
           <a href="/" class="navbar-brand">CD管理データベース</a>
         </div>
         <div class="collapse navbar-collapse" id="mainNav">
         <ul class="nav navbar-nav">
           <li class="active">
           <a href="/"><span class="glyphicon glyphicon-home"></span>HOME</a>
           </li>
           <li><a href="/list"><span class="glyphicon glyphicon-th-list"></span>表示</a></li>
           <li><a href="/entry"><span class="glyphicon glyphicon-plus"></span>登録</a></li>
           <li><a href="/retrieve"><span class="glyphicon glyphicon-search"></span>検索</a></li>
           <li><a href="/url"><span class="glyphicon glyphicon-heart"></span>まとめサイト</a></li>
           </ul>
       </div>
     </div>
       </nav>    <!-- ナビゲーションバー --!>
       <div class="jambotron"
         style="color:#FFF; background:url(photo/header-back.jpg); background-size:cover;">   <!-- ヘッダー --!>
         <h1>CDデータ管理システム</h1>
         <p>CD情報の管理や音楽情報を収集するためのサイトです。</p>
       </div>   <!-- ヘッダー --!>
       <div class="containar">    <!-- サイトの概要 --!>
         <h2>このサイトの概要</h2>
         <dl>
           <dt>CDデータの管理</dt>
           <dd>CDデータの管理をすることができます。表示、登録、削除、検索から実行したいメニューを選択し、該当ページへ飛んでください。</dd>
           <dt>イベント情報の検索</dt>
           <dd>ライブイベント等の情報の検索ができます。</dd>
           <dt>音楽情報の検索</dt>
           <dd>自身の登録した音楽情報などをもとに音楽情報を検索することができます。</dd>
         </dl>
       </div>   <!-- サイトの概要 --!>
     </div>    <!-- 全体を囲むコンテナ --!>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
  </html>   
