<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap 101 Template</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body style="padding-top:70px;">
    <div class="container">   <!-- 全体を囲むコンテナ --!>
      <nav class="navbar navbar-default navbar-fixed-top">   <!-- ナビゲーションバー --!>
       <div class="container">
         <div class="navbar-header">
           <button class="navbar-toggle" data-toggle="collapse" data-target="#mainNav2">
             <span class="sr-only">ナビゲーション</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
           <a href="/" class="navbar-brand">CD管理データベース</a>
         </div>
         <div class="collapse navbar-collapse" id="mainNav2">
         <ul class="nav navbar-nav">
           <li>
           <a href="/"><span class="glyphicon glyphicon-home"></span>HOME</a>
           </li>
           <li class="active"><a href="/list"><span class="glyphicon glyphicon-th-list"></span>表示</a></li>
           <li><a href="/entry"><span class="glyphicon glyphicon-plus"></span>登録</a></li>
           <li><a href="/retrieve"><span class="glyphicon glyphicon-search"></span>検索</a></li>
           <li><a href="/url"><span class="glyphicon glyphicon-heart"></span>まとめサイト</a></li>
         </ul>
       </div>
     </div>
       </nav>    <!-- ナビゲーションバー --!>
       <div class="jambotron"
         style="color:#FFF; background:url(photo/header-back.jpg); background-size:cover;">   <!-- ヘッダー --!>
         <h1>CDデータ管理システム</h1>
         <p>CD情報の管理や音楽情報を収集するためのサイトです。</p>
       </div>   <!-- ヘッダー --!>
<% ActiveRecord::Base.establish_connection(%>
<% adapter: 'sqlite3', %>
<% database: 'cdkanri.db' %>
<%                                          ) %>

    <h2>CDデータの表示</h2>
   <p>処理するCDデータを選択してください。</p>

   <hr>
   <div class="table-responsive">
   <table class="table table-hover" >    <!-- テーブル --!>
     <thead>
     <tr>
         <th style="white-space:nowrap">CDタイトル</th><th style="white-space:nowrap">アーティスト名</th><th style="white-space:nowrap">説明</th><th style="white-space:nowrap">評価（１００点満点)</th><th style="white-space:nowrap">削除</th><th style="white-space:nowrap">修正</th>
       </tr>
     </thead>
     <tbody>
        <% cdinfos = Cdinfo.all %>
        <% cdinfos.each do |cd| %>
          <tr>
         <td><%=cd.title%></td>
         <td><%=cd.artist%></td>
         <td><%=cd.description%></td>
         <td><%=cd.score%></td>
         <form action="del" method="post">
           <td><input type="submit"  value="削除"/></td>
           <input type="hidden" name="id" value="<%= cd.id %>">
           <input type="hidden" name="_method" value="delete">
         </form>
         <form action="edit" method="post">
           <td><input type="submit" value="修正"/></td>
           <input type="hidden" name="id" value="<%= cd.id %>">
         </form>
       </tr>
     <% end %>
     </tbody>
   </table>    <!-- テーブル --!>
 </div>

     </div>
   </body>
 </html>
